<nav>
  <ul>
    <li><LinkTo @route="index">Star Wars</LinkTo></li>
    <li>
      <LinkTo @route="people">People</LinkTo>
    </li>
    <li>
      <LinkTo @route="planets">Planets</LinkTo>
    </li>
  </ul>
</nav>
<main>
{{outlet}}
</main>
