<div class="grid">
  <div class="left-panel">
    <ul class="list">
      {{#each @model.films as |f|}}
        <li><LinkTo @route="films.show" @model={{f}}>{{f.title}}</LinkTo></li>
      {{/each}}
    </ul>
  </div>
  <div class="right-panel">
    {{outlet}}
  </div>
</div>
