<div class="grid">
  <div class="left-panel">
    <ul class="list">
      {{#each @model.vehicles as |p|}}
        <li><LinkTo @route="vehicles.show" @model={{p}}>{{p.name}}</LinkTo></li>
      {{/each}}
    </ul>
  </div>
  <div class="right-panel">
    {{outlet}}
  </div>
</div>
